<form action="#" class="register-form needs-validation" novalidate>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Branch Name *</label>
            <input type="text" class="form-control" placeholder="" required />
            <div class="invalid-feedback">Please enter your first name.</div>
        </div>
        <div class="form-group col-md-6">
            <label>Phone Number *</label>
            <input type="text" class="form-control" placeholder="" required />
            <div class="invalid-feedback">Please enter your last name.</div>
        </div>
    </div>
   
    <div class="form-group button-action mt-1 mt-sm-5 clearfix text-center">
        <button type="submit" class="account-create btn btn-secondary">Update Location</button>
        <button type="submit" class="account-create btn btn-secondary">Done</button>
    </div>
</form>