{% extends "regestration_base.html" %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block title %} Add Product{% endblock title %}    

{% block content %}
<main class="main-content pt-5 d-flex align-items-center justify-content-center">
<div class="login-account mt-5">
    <div class="container">
        <div class="row mb-5">
        <a class="logo-img mx-auto"href="{% url 'products:index' %}"><img class="" src="..\..\static\images\Meccanico.png" style="" alt="Meccanico"></a>
        </div>
        <div class="row row-sp w-100">
            <h1 class="col-12 text-center mb-5">Sign Up</h1>
            <div class="col-sp col-12 col-sm-12 col-md-12">
                <form method="post" id="personForm" class="login-form needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        {% comment %} <label for="{{ form.username.id_for_label }}">Username *</label> {% endcomment %}
                        {{ form.username }}
                        {{ form.username.errors }}
                        <div class="invalid-feedback">Please enter your username.</div>
                    </div>
                    <div class="form-group">
                        {% comment %} <label for="{{ form.username.id_for_label }}">Username *</label> {% endcomment %}
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                        <div class="invalid-feedback">Please enter your first name.</div>
                    </div>
                    <div class="form-group">
                        {% comment %} <label for="{{ form.username.id_for_label }}">Username *</label> {% endcomment %}
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                        <div class="invalid-feedback">Please enter your last name.</div>
                    </div>
                    <div class="form-group">
                        {% comment %} <label for="{{ form.password.id_for_label }}">Password *</label> {% endcomment %}
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                        <div class="invalid-feedback">Please enter The password.</div>
                    </div>
                    <div class="form-group">
                        {% comment %} <label for="{{ form.password.id_for_label }}">Password *</label> {% endcomment %}
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                        <div class="invalid-feedback">Please enter confirm the password.</div>
                    </div>
                  
                    <div class="form-group button-action clearfix text-center">
                        <div class="login-forget pull-left">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                            
                        </div>
                        <div class="account-create pull-right">
                            <a class="btn btn-secondary" href="{% url 'users:login' %}">Already Have An Acoount</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock content %}